<mat-card>
  <h4>Your request is confirmed</h4>
  <div class="icon-wrapper">
    <mat-icon mat-list-icon>done</mat-icon>
  </div>
  <p>
    To verify your identity we've sent you email with the link for resetting your password.
    Please check your email and setup new password.
  </p>
  <p>
    Do not see activation email from us? - Check your spam folder first and if it
    doesn't work please re-submit request for changing password again.
  </p>
  <p>
    You might close this page for now.
  </p>
</mat-card>

