<mat-card>
  <h4>Reset Password Request</h4>
  <p>
    Warning! If you didn't activate your account, you should go though registration process again instead
    of doing reset.
  </p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required/>
      <mat-error *ngIf="fh.hasError(form, 'email')">{{fh.getError(form, 'email')}}</mat-error>
    </mat-form-field>
    <div class="controls">
      <button mat-raised-button color="primary" type="submit">Request Password Reset</button>
    </div>
    <a routerLink="/login">
      <button mat-button color="primary">Back to Login</button>
    </a>
  </form>
</mat-card>
<ac-spinner message="Requesting..." *ngIf="authSelectors.isPasswordForgotRequestFetching$ | async"></ac-spinner>
