<mat-card>
  <h4>Reset Password</h4>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="password" required type="password"/>
      <mat-error *ngIf="fh.hasError(form, 'password')">{{fh.getError(form, 'password')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" required type="password"/>
      <mat-error *ngIf="fh.hasError(form, 'confirmPassword')">{{fh.getError(form, 'confirmPassword')}}</mat-error>
    </mat-form-field>
    <div class="controls">
      <button mat-raised-button color="primary" type="submit">Reset</button>
    </div>
  </form>
</mat-card>
<ac-spinner message="Resetting..." *ngIf="authSelectors.isPasswordResetting$ | async"></ac-spinner>
