@import "../../../../colors";

mat-card {
  margin: 2em 0;
}


h4{

  mat-icon {
    margin-right: 0.5em;
  }

  display: flex;
  align-items: center;
}

span.bold {
  color: $error;
}

.controls {
  text-align: right;
}
