<form [formGroup]="form">
  <h1 mat-dialog-title>Changing Password</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required type="password"/>
      <mat-error *ngIf="fh.hasError(form, 'password')">{{fh.getError(form, 'password')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" required type="password"/>
      <mat-error *ngIf="fh.hasError(form, 'newPassword')">{{fh.getError(form, 'newPassword')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" required type="password"/>
      <mat-error *ngIf="fh.hasError(form, 'confirmPassword')">{{fh.getError(form, 'confirmPassword')}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="{password: form.value.password, newPassword: form.value.newPassword}" color="primary" [disabled]="!(form.valid)">Change</button>
  </div>
</form>
