<mat-card>
  <h4>You have been Registered.</h4>
  <div class="icon-wrapper">
    <mat-icon mat-list-icon>done</mat-icon>
  </div>
  <p>
    Your registration is completed now. To verify your identity we've sent you email
    with activation link. Please check you email and activate
    your account.
  </p>
  <p>
    Do not see activation email from us? - Check you spam folder first and if it
    doesn't work please re-register again.
  </p>
  <p>
    You might close this page for now.
  </p>
  <div class="controls">
    <button mat-button color="primary" (click)="router.navigate(['/login'])">Back to Login Page</button>
  </div>
</mat-card>

